<div *ngIf="data === 'contentOne'">
    <h1>Are you going to accept the change </h1>
    <h4>{{data}}</h4>
    </div>
    
    <div *ngIf="data === 'contentTwo'">
      <label>First Name</label>
      <input type="text">
      <br>
      <label>Last Name</label>
      <input type="text">
      <br>
    </div>
    
    <div *ngIf="data === 'contentThree'">
      <h1>You Can't Open More Than One</h1>
    </div>
    
    <div *ngIf="data === 'contentFour'">
      <h1>Notification Message</h1>
    </div>
    