<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 align="center">
    Welcome to {{ title }}!
  </h1>

  
  <div class="col-md-2">
    <button type="button" 
      class="btn btn-success  btn-block"
      modal-box 
      [title]='"ConfirmationBox"'
      [componentData]="data1"
      [componentName]="'ModalContentComponent'">
      Conformation Modal
    </button>
  </div>  

  <div class="col-md-2">
    <button type="button" 
      class="btn btn-danger  btn-block"
      modal-box 
      [title]='"FormBox"'
      [componentData]="data2"
      [componentName]="'ModalContentComponent'">
      Form Modal
    </button>
  </div> 

  <div class="col-md-2">
    <button type="button" 
      class="btn btn-primary  btn-block"
      modal-box 
      [title]='"InformationBox"'
      [componentData]="data3"
      [componentName]="'ModalContentComponent'">
      Information Modal
    </button>
  </div>  


</div>




<!-- <router-outlet></router-outlet> -->